#container {
  width: 95%;
  /* background-color: #ffcc33; */
  align-items: center;
  margin: auto;
}
#first {
  width: 49%;
  float: left;
  height: 90%;
  /* background-color: blue; */
  margin: 5px;
}
#second {
  margin: 5px;

  width: 49%;
  float: left;
  height: 90%;
  /* background-color: green; */
}
/* #clear {
  clear: both;
} */
